In [5]:
# Functions
# Lambda Expressions
# map and filter
# various useful methods

def my_func(param):
    print(param)

In [6]:
my_func('Quynh')

Quynh

In [13]:
def times_two(var):
    return var*2

In [9]:
result = times_two(4)

In [10]:
result

8

In [11]:
lambda var: var*2

In [14]:
seq = [1,2,3,4,5]

In [15]:
map(times_two,seq)

In [17]:
list(map(lambda var:var*2,seq))

[2, 4, 6, 8, 10]

In [18]:
def is_even(num):
    return num%2 == 0

In [22]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

In [ ]:
# Methods

In [23]:
st = 'hello my name is Quynh'

In [24]:
st.lower()

'hello my name is quynh'

In [25]:
st.upper()

'HELLO MY NAME IS QUYNH'

In [26]:
tweet = 'Go Sports! #cool'

In [29]:
tweet.split('#')[1]

'cool'

In [30]:
my_list = [1,2,3]

In [31]:
1 in my_list

True

In [32]:
'a' in [1,2,'a']

True