In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'a','c']
lista = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':100}

In [3]:
pd.Series(lista,index=labels)

a    10
a    20
c    30
dtype: int64

In [5]:
pd.Series(arr,labels)

a    10
a    20
c    30
dtype: int32

In [6]:
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [7]:
pd.Series(data=labels)

0    a
1    a
2    c
dtype: object

In [9]:
# Series is extremely flexible, you can call out functions so you can use later on
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
# INDEXING
ser1 = pd.Series([1,2,3,4], index=['USA', 'CHINA', 'FRANCE', 'GERMANY'])

In [21]:
ser1

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [22]:
ser2 = pd.Series([1,2,3,4], index=['USA', 'CHINA', 'ITALY', 'JAPAN'])

In [23]:
ser2

USA      1
CHINA    2
ITALY    3
JAPAN    4
dtype: int64

In [24]:
# Matching add up, no matching equal Null base on indexing
ser1 + ser2

CHINA      4.0
FRANCE     NaN
GERMANY    NaN
ITALY      NaN
JAPAN      NaN
USA        2.0
dtype: float64