In [1]:
my_set = {1,2,3}
pair_nums = 2, 4, 6, 8
my_numset = set(pair_nums)
print(my_numset)
print(type(my_numset))

{8, 2, 4, 6}
<class 'set'>

In [2]:
my_newset = set() # this is how to set empty set
print(my_newset)
print(type(my_newset))

set()
<class 'set'>

In [4]:
flower_list = ['r', 'v', 'c', 'r', 'o', 'r', 'o']
flowerset = set(flower_list)
flower_list2 = list(flowerset)
print(flowerset)
print(flower_list2)

{'o', 'v', 'r', 'c'}
['o', 'v', 'r', 'c']

In [15]:
a = set('philadelphia')
b = set('dolphin')
print(a - b)
print(a.difference(b), '\n')

print(a | b) # pipe for unionxc
print(a.union(b), '\n')

print(a & b) #amplesand for intersect
print(a.intersection(b), '\n')

{'a', 'e'}
{'a', 'e'}

{'o', 'h', 'p', 'e', 'i', 'n', 'l', 'a', 'd'}
{'o', 'h', 'p', 'e', 'i', 'n', 'l', 'a', 'd'}

{'h', 'p', 'l', 'd', 'i'}
{'h', 'p', 'l', 'd', 'i'}

In [16]:
string = '04/14/2020' #10 elements in the string
x = set('04/14/2020') #5 elements when declare set()
y = {'04/14/2020'} #1 elements when use {}

print(x, y, sep='\n')
print(type(x))
print(type(y))
print(len(string))
print(len(x))
print(len(y))

{'4', '/', '0', '2', '1'}
{'04/14/2020'}
<class 'set'>
<class 'set'>
10
5
1

In [19]:
list1 = [1,2,3,3,3,3,4,4,5,5]

unique1 = set(list1)
# unique2 = {list1} #error (can't use {} to nest [])
print(unique1)

{1, 2, 3, 4, 5}

In [23]:
usa_capt = set('Washington')
nz_capt = set('Wellington')
print(usa_capt)
print(nz_capt)

print(usa_capt & nz_capt)
print(usa_capt.intersection(nz_capt), sep='\n')

{'o', 'h', 'W', 'n', 'g', 's', 'a', 'i', 't'}
{'o', 'W', 'n', 'e', 'l', 'g', 'i', 't'}
{'o', 'W', 'n', 'g', 'i', 't'}
{'o', 'W', 'n', 'g', 'i', 't'}

In [50]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
for x in thislist:
  print(x)

['apple', 'banana', 'cherry']
apple
banana
cherry

In [51]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [65]:
#most frequent number and its frequency
a = [1,3,7,4,3,0,3,6,3]
count = 0
for x in a:
    if x == 3:
        count += 1
string = "The most frequent number is {} and it was {} times repeated"
print(string.format(x, count))

The most frequent number is 3 and it was 4 times repeated